.app {
  text-align: center;
}

.app-logo {
  height: 200px;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

.app-container {
  margin: 30px 20%;
}

.section-title {
  font-weight: bold;
}

/* renderNotConnected */
.input-peer-id {
  text-align: center;
}

/* renderConnected */
.text-send {
}

.text-received {
  padding: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
